* {
    margin: 0;
    padding: 0;
    border: 0;

}

@font-face {
    font-family: 'fontc1dcc669f9c3bfee56ddacf5ba0c4225';

    src: url('https://nomail.com.ua/files/eot/c1dcc669f9c3bfee56ddacf5ba0c4225.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/c1dcc669f9c3bfee56ddacf5ba0c4225.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/c1dcc669f9c3bfee56ddacf5ba0c4225.woff2') format('woff2');
}

@font-face {
    font-family: 'Novecento-WideBold';
    src: local('Novecento-WideBold'), url('https://nomail.com.ua/files/woff/c1dcc669f9c3bfee56ddacf5ba0c4225.woff') format('woff');
}

.main {
    display: flex;
    margin: 0 auto;
    background: url("../imgPreview/about/background/01.png") 0 0/100% no-repeat;


}

.container {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
    display: block;
    margin-top: 30px;
    margin-bottom: 150px

}

.header {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.logo {
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    color: white;

}

.links {
    display: flex;
    justify-content: space-between;
    width: 150px;

}

.twitter, .facebook, .rss {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    height: 43px;
    width: 30px;
    border-radius: 50%;
    padding-left: 12%;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.menu-link {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    width: 80%;

}

.colortext {
    color: #87b672;
}

.menu-link__item.item {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.title {
    margin: 0 auto;
    margin-top: 30px;

}

.title__main.maintext {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;;
    font-size: 36px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 120px;
    text-align: center;
}

.title__text.text {
    font-family: 'Inter', sans-serif;;
    font-size: 22px;
    color: white;
    margin-top: 20px;
    font-weight: 300;
    text-align: center;
}

.title__button.button {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: white;
    background: none;
    padding: 14px 14px;
    text-align: center;
    border: 2px solid white;
    margin-top: 31px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;


}

/*second

 */


.medium {
    margin: 0 auto;
    background: none;
    display: block;
    margin-top: 50px;
}

.container-medium {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;

}

.service {
    border-bottom: 1.5px solid rgba(155, 153, 153, 1);
    margin: 0 auto;
}

.service-title {

    color: #666262;
    font-family: 'Inter', sans-serif;
    font-size: 27px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;

}

.service-subtitle {
    color: #9b9999;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;

}


.example {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

}

.example-one, .example-two, .example-three {


}

.example__image.image {

    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.example__title.title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #706c6c;
    text-transform: uppercase;
    font-weight: bold;


}

.example__subtitle.subtitle {
    display: flex;
    justify-content: center;
    margin-top: 28px;
    text-align: center;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #b5b4b4;
    text-transform: none;
}

.example__link.link {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    font-family: 'Inter', sans-serif;
    color: #87b672;

    text-transform: none;


}

.latest {
    margin: 0 auto;

    background: linear-gradient(to bottom, #efefef 75%, white 25%);
}

.container-latest {

    margin: 0 auto;
    border-bottom: 1.5px solid rgba(155, 153, 153, 1);
    padding-top: 30px;
    width: 1200px;
    max-width: 100%;
    display: block;
    margin-bottom: 30px;
    margin-top: 70px;


}

.title-latest {
    text-align: center;
    margin-top: 70px;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    color: #706c6c;
    text-transform: uppercase;
    display: block;
    font-weight: bold;

}

.subtitle-latest {
    text-align: center;
    margin-left: 172px;
    margin-right: 172px;
    margin-top: 28px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #b5b4b4;
    text-transform: none;


}

.screen {

    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;


}

.about-screen {

    display: flex;
    justify-content: space-around;


}

.about-screen__one, .about-screen__two, .about-screen__three {
    text-align: center;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #706c6c;
    text-transform: uppercase;
    width: 50%;
    display: block;
    margin-top: 5px;
    margin-bottom: 30px;

}

.purchase {
    position: relative;
    display: flex;
    margin: 0 auto;
    background: none;

}

.container-purchase {

    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
    display: block;
    margin-bottom: 50px;

}

.purchase__title.text {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 20px;
    color: #706c6c;
    text-transform: uppercase;
    display: block;
    margin-top: 30px;
    font-weight: bold;

}

.purchase__subtitle.text {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #b5b4b4;
    margin: 0 auto;
    font-weight: 300;
    text-transform: none;
    width: 60%;
    display: block;
    margin-top: 30px;

}

.purchase__button.button {
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: white;
    background: #87b672;
    padding: 14px 14px;
    text-align: center;
    margin: 0 auto;
    margin-top: 29px;
    text-transform: uppercase;
    font-weight: bold;

}

.information {
    background: #333333;
    display: flex;
    margin: 0 auto;
    border-bottom: 2px solid rgba(155, 153, 153, 1);

}


.container-footer {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
    display: block;
    height: 350px;

}

.main-footer {
    display: flex;
    justify-content: space-between;
    height: 300px;
    border-bottom: 2px solid rgba(155, 153, 153, 1);

}

.sec-footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom:30px;

}

.rights {
    text-transform: uppercase;
    font-weight: bold;
    color: #808080;
    font-family: 'Inter', sans-serif;

}

.contacts {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    text-decoration: none;

}

.contacts-about {
    text-decoration: none;
    color: #808080;

}





